<script>
    var loc = window.location.href+'';
    if (loc.indexOf('http://')==0){
        window.location.href = loc.replace('http://','https://');
    }
</script>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<style>
    .p1 {
	font-family: "Open Sans";
	font-size: 100px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
    }   
    .a {
	font-family: "Open Sans";
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
    }   
</style>
<body>
    <p1>Notice from Acorn: This site is currently not responding to your request, even though it is fully functional from our servers. your IP may be blocked or im doing some quick maintenance. It could also be that my proxy server or my host are doing something funny and so you can't see this site. Maybe i have a notice on my site, <a href="https://acorndev.cf/">acorndev.cf</a></p1>
</body>